[user]
	email = molese@protonmail.com
	name = molese
	signingkey = 3665D1C872B9A0284B06136C61C53544E95B132E
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = prime
[commit]
	gpgsign = true
[gui]
	encoding = UTF-8
[alias]
	bp = big-picture
	stat = status -sb
	l = log --oneline
	c = commit -m
	unstage = reset HEAD --
	co = checkout
	last = log --oneline -1 HEAD
	b = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	aa = add .
	o = clone
	pp = push -f
	i = init
	ci = commit --interactive
	dd = diff --check --dirstat --find-copies --find-renames --histogram --color
	rb = rebase --interactive @{upstream}
	e = commit --amend
	ll = config --get-regexp alias
[core]
	editor = neovide
[pull]
	rebase = false
[help]
	autocorrect = 25
